[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
ipdb = "*"
pytest-cov = "*"
pytest-aiohttp = "*"
sphinx = "*"
python-docs-theme = "*"
watchdog = "*"
argh = "*"
pygments-graphql-lexer = {git = "https://github.com/lablup/pygments-graphql-lexer.git"}
bump2version = "*"
black = ">=19"

[packages]
kofi = {editable = true,path = "."}

[requires]
python_version = "3.8"
# vim : set syntax=toml

[pipenv]
allow_prereleases = true
