[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
ipdb = "*"
pytest-cov = "*"
pytest-aiohttp = "*"
sphinx = "*"
python-docs-theme = "*"
watchdog = "*"
argh = "*"

[packages]
kofi = {editable = true,path = "."}

[requires]
python_version = "3.8"
