[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"
ipdb = "*"
pytest-cov = "*"
pytest-aiohttp = "*"

[packages]
aiohttp = "*"
python-codicefiscale = "*"
aiohttp-graphql = "*"
pyyaml = "*"
kofi = {editable = true,path = "."}

[requires]
python_version = "3.8"
